<h1>Edit a project</h1>
<div class="row">
	<form action="/project/{{project.id}}?_method=PUT" method="post" class="col s12">
		<input type="hidden" name="_method" value="PUT">

		<div class="row">
			<div class="input-field">
				<input type="text" name="projectName" value="{{project.projectName}}">
				<label for="projectName">Project Name</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field">
				<select id="pm" name="pm">
					{{#select project.pm}}
						{{#each pm}}
							<option value="{{id}}">{{lastName}} {{firstName}}</option>
						{{/each}}
					{{/select}}
				</select>
				<label for="pm">Project Manager</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field">
				<select id="spm" name="spm">
					{{#select project.spm}}
						{{#each spm}}
							<option value="{{id}}">{{lastName}} {{firstName}}</option>
						{{/each}}
					{{/select}}
				</select>
				<label for="spm">Senior Project Manager</label>
			</div>
		</div>

		<input type="submit" value="Save" class="btn">
	</form>
</div>