	<div class="radioBlock">
		<p>{{labelMessage}}</p>
		<div class="redBtn">
			<input type="radio" id="red{{name}}" name="{{name}}" value="true">
			<label for="red{{name}}"></label>
		</div>
		<div class="greenBtn">
			<input type="radio" id="green{{name}}" name="{{name}}" value="false" checked>
			<label for="green{{name}}"></label>
		</div>
	</div>