	<div class="radioBlock">
		<p>{{labelMessage}}</p>
		<div class="redBtn">
			<input type="radio" id="red{{name}}" name="{{name}}" value="red">
			<label for="red{{name}}"></label>
		</div>
		<div class="yellowBtn">
			<input type="radio" id="yellow{{name}}" name="{{name}}" value="amber">
			<label for="yellow{{name}}"></label>
		</div>
		<div class="greenBtn">
			<input type="radio" id="green{{name}}" name="{{name}}" value="green" checked>
			<label for="green{{name}}"></label>
		</div>
	</div>